@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
/*background-color: #483C32;*/
}
.fist{
    margin-top: 4px;
    margin-bottom: 8px;
    margin-right: 5px;
    color:black;
}
#threeliners {
    position: absolute;
    left: 10px;
    margin-top: 8px;
}
#threeliners div {
    background-color:black;
    width: 40px;
    height: 5px;
    margin: 5px;
    margin-top: 5px;
    border-radius: 5px;
}
@media only screen and (max-width: 500px){
       #threeliners div{
        display: none;
    }
}
@media only screen and (max-width: 500px){
       .fist{
        display: none;
    }
}
#theNav{
    position: sticky;
    top: 0px;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    border-bottom:2px solid black;
    background-color:#987456;
}
a{
    color:black;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    font-size: 25px;
    margin-right: 25px;
    margin-top: 5px;
    font-style: italic;
}
a:hover {
  background-color: #C19A6B;
  border-radius: 190px;
}
#theNav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#theNav li {
    list-style: none;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}
#hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#form {
    margin-top:0px;
}
section h2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}
section ol {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}
.para{
    font-size: 20px;
    margin-bottom: 25px;
}
img {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
/*margin-top:600px;*/
imgContainer {
    display: flex;
    justify-content: center;
    width: 870px;
    height: 525px;
    margin-top: 10px;
    border:5px solid #987456;
}
#section-iframe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 5);
    height: calc(100%/5);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}
header {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
article {
    list-style: inside;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 5px;
    top: 140px;
}
.button {
    font-size: 1em;
    font-weight: 100;
    margin-left: 10px;
    background-color: #A0785A;
    width: 60px;
    height: 30px;
    display: flex;
}
input {
    margin-bottom: 10px;
    max-width: 275px;
    width: 270px;
    padding: 5px;
    border: 3px solid black;
    background-color: #A0785A;
    color: black;
}
#submit > .button{
  display:flex;
  flex-direction:column;
  align-items:center;
}
::placeholder {
    color: black;
}
#hero {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/*main{*/
/*    display:flex;*/
/*      flex-wrap:wrap;*/
/*      justify-content:center;*/
/*      margin:auto;*/
/*      background-color: white;*/
/*      height:100vh;*/
/*      background-position: center;*/
/*      background-size: cover;*/
/*      overflow: hidden;*/
/*      color:white;*/
/*        object-fit: cover;*/
/*}*/
/*footer{*/
/*    display:flex;*/
/*    margin-top: 10px;*/
/*    background-color:#CEF9F2;*/
/*    position: sticky;*/
/*    bottom: 0px;*/
/*    width:100%;*/
/*    border-top:2px solid black;*/
/*}*/
footer{
    display: flex;
    width: 0 auto;
    background-color:#987456;
    position: sticky;
    justify-content: flex-end;
    position:fixed;bottom:0;left:0;right:0;height: 0 auto;
    border-top:2px solid black;
    flex-wrap: wrap;
}
.ulFooter{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    flex-wrap: wrap;
}
.ulFooter li{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    flex-wrap: wrap;
<<<<<<< HEAD
}
/*#myVideo{
    position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
   object-fit: cover;
}*/
.img1{
    
    display:flex;
    flex-wrap:wrap;
    width:100%;
    height:50%;
    
}
.button {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    
    justify-content:space-evenly;
    font-size: 1em;
    align-items:center;
    font-weight: 100;
    
    background-color: #a0785a;
    width: 300px;
    height: 30px;
 

}
.buttons{
    
    
    
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    
    justify-content:space-evenly;
}

.button1{
    
        font-size: 1em;

    font-weight: 100;
    
    background-color: #a0785a;
    width: 300px;
    height: 40px;
    margin-left: 400px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
position:center;

   
=======
>>>>>>> 97205d41d3680c81bb5cb9beb54c246598e60415
}