* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*.pageWrapper{*/
/*    padding-bottom: 2.5rem; */
/*    flex-wrap:wrap;*/
/*}*/
.fist {
    margin-top: 4px;
    margin-bottom: 8px;
    margin-right: 5px;
    color: black;
}

#threeliners {
    position: absolute;
    left: 10px;
    margin-top: 8px;
}

#threeliners div {
    background-color: black;
    width: 40px;
    height: 5px;
    margin: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

@media only screen and (max-width: 500px) {
    #threeliners div {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .fist {
        display: none;
    }
}

#theNav {
    position: sticky;
    top: 0px;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    border-bottom:2px solid black;
    background-color:#987456;
    width:100%;
    padding:10px;

}

a {
    color: white;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    font-size: 25px;
    margin-right: 25px;
    margin-top: 5px;
    font-style: italic;
}

a:hover {
    background-color: #C19A6B;
    border-radius: 190px;
}

#theNav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#theNav li {
    list-style: none;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    background-color: white;
    height: 100vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    color: white;
    object-fit: cover;
}

body {

    flex-wrap: wrap;
    margin: auto;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
footer{
    display:flex;
    margin-top: 10px;
    background-color:#987456;
    position: sticky;
    justify-content: flex-end;
    position:fixed;bottom:0;left:0;right:0;height: 0 auto;
    border-top:2px solid black;
    flex-wrap: wrap;
}

.ulFooter {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    flex-wrap: wrap;
}

.ulFooter li {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    flex-wrap: wrap;
}

footer span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    padding-right: 10px;
    flex-wrap: wrap;
}

.video {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
}

.slidecontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    object-fit: cover;
    position: fixed;
    left: 80%;
    width: 50%;
    right: 5px;
    bottom: 60px;
    animation: 20s slidy infinite;
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    75% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}


.Slideshow {
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    float: left;
    animation: 5s slide infinite;
    float: right;
}

.Slideshow figure img {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    animation: 30s slidy infinite;
    height: 184px;
    width: 184px;
    border-radius: 100px;
}



.Slideshow figure {
    display: flex;
    height: 184px;
    width: 184px;
    border-radius: 100px;
    object-fit: cover;
    margin: auto;
    float: left;
    animation: 30s slidy infinite;
}

.gofundme {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 335px;
    top: 420px;
    background-color: transparent;
    color: white;
    width: 20%;
    object-fit: cover;
    margin: auto;
}

.clickme {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

#hero {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.fieldset{
    
    display:flex;
position: absolute;
    justify-content:start;
    flex-wrap:wrap;
   margin-top:40px;
   margin-left: 0px;
   top:50px;
      object-fit: cover;
      background-color: #987456;
      color:black;
      border-color: transparent;
 
    
  
}

#hero {
    display: flex;
    margin-top: 1px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1em;
    align-items: center;
    font-weight: 100;

    background-color: #a0785a;
    width: 60px;
    height: 30px;


}

#h5 {
    display: flex;
    color: white;
    margin-top: 0px;
}

@media(max-width: 600px) {
    #hero {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media(max-width: 600px) {
    .fieldset {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media(max-width: 600px) {
    .body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 1500px;
        align-items: center;
        background-color: white;
        background-color: white;
        background-image: none;
    }
}

@media(max-width: 600px) {
    .main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 1500px;
        width: 20%;
        align-items: center;
        background-color: white;
        background-image: none;
    }
}

@media(max-width: 600px) {
    .Slideshow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media(max-width: 600px) {
    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width: 600px) {
    .theNav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width: 600px) {
    .slidecontainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width: 600px) {
    .Slideshow {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width: 600px) {
    .gofundme {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width: 600px) {
    .ulFooter {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
}
